@charset "ISO-8859-1";

body {
	background-color: rgba(23, 98, 100, .2);
}

h1 {
	text-align: center;
	margin: 0 auto;
}
.d1{

	width: 90%;
	height: 90%;
	margin-top: 20px;
	margin: 0 auto;
	padding : 20px ;
	border:2px solid rgba(112, 55, 99, .7);
	text-align: center;
	

	
}
.d2{
	width: 50%;
	padding: 20px;
	margin: auto:

	
}